server {
  listen 80;
  server_name portfolio-domain.com www.portfolio-domain.com;

  location /.well-known/acme-challenge/ {
    root /var/www/certbot;
  }

  location / {
    return 301 https://$host$request_uri;
  }
}

server {
  listen 443 ssl http2;
  server_name portfolio-domain.com www.portfolio-domain.com;

  ssl_certificate /etc/letsencrypt/live/portfolio-domain.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/portfolio-domain.com/privkey.pem;

  location / {
    proxy_pass http://portfolio:80;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto https;
  }
}

server {
  listen 80;
  server_name blog-domain.com www.blog-domain.com;

  location /.well-known/acme-challenge/ {
    root /var/www/certbot;
  }

  location / {
    return 301 https://$host$request_uri;
  }
}

server {
  listen 443 ssl http2;
  server_name blog-domain.com www.blog-domain.com;

  ssl_certificate /etc/letsencrypt/live/blog-domain.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/blog-domain.com/privkey.pem;

  location / {
    proxy_pass http://wordpress:80;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto https;
  }
}
